---
import type { HTMLAttributes } from "astro/types";
import theme from "@/data/theme";
import { MAP_COLOR_VARIANT_TO_TEXT } from "@/utils/mapVariants";

type Props = HTMLAttributes<"a"> & {
  label: string;
  isUnderline?: boolean;
};

const { label, isUnderline, ...props } = Astro.props;
---

<a
  href={props.href}
  class:list={{
    [`font-normal ${MAP_COLOR_VARIANT_TO_TEXT[theme.colors.primary]} cursor-pointer hover:text-orange-300`]: true,
    ["underline decoration-dashed underline-offset-8"]: isUnderline
  }}
  {...props}
>
  <!-- <strong>{label}</strong> -->
  {label}
  <span class="sr-only ">{label} link</span>
</a>